html,
body {
    margin:0;
    padding:0;
    height:100%;
    overflow-x: hidden;
}
p.bigfirst::first-letter{
    font-size: 300%;
}

.root {
    min-height:100%;
    position:relative;
}
.body {
    padding:10px;
    padding-bottom:100px;   /* Height of the footer */

}
.footer {
    position:relative;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background:black;
    overflow-x: hidden;
}

.card{
    padding: 10px;
    background-color: white;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.page-header{
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    margin-bottom: 50px;
    padding-top: 45px;
    padding-bottom: 0px;
    margin-top: -30px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;


}
#header a{
    text-decoration: none;
}

#header a:hover {
    color: black;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px #aaa;
}
#sub_header
{
    font-family: 'Muli', sans-serif;
}

.experience{
    background-color: lightcyan;
    margin-bottom: 20px;
}
.skills
{
    background-color: white;
    /*margin-left: 32%;
    */
    font-family: "Arial Black";

}
.projects{
    background-color: aliceblue;
    margin-bottom: 20px;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: lightseagreen;
}

#footer{
    padding-top: 30px;
}

#about_me {
    margin-top: 10px;
    color: #ccc;
    background-color: black;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    padding: 20px ;
    padding-bottom: 50px;

}

.dp{

}


.card-subtitle{
    font-size: 120%;
    color: black;
}

.card-title{
    color: black;

}


.card-background{
    padding-top: 40px;
    margin: 0px;

}

.skills-graph{
    margin-top: -20px;
    background-color: #fff;
    margin-bottom: -100px;

}

.skills-graph2{
    margin-top: -550px;
    margin-left: 600px;
    background-color: #fff;
    margin-bottom: -100px;
}

.heading{
    font-size: 40px;
    cursor: pointer;
    cursor: hand;
    margin-bottom: 20px;
}

.vSpace50{
    margin-bottom: 50px;
    margin-top: 150px;
}
.vSpace30{
    margin-bottom: 30px;

}


.footerText{
    font-size: 18px;
    color: white;

}


#github{
    font-size:25px;
    color: gray;
    -webkit-border-radius: 20px;
}

#github a{
    color: gray;
}

#github a:hover{
    color: lightseagreen;
}

.contents{
    margin-bottom: 20px;
}

svg{
    font-size: 40px;
}

.negativevspace{
    margin-bottom: -100px;
}


.black{
    background-color: black;
    height: 300px;

}

.red{
    background-color: red;
    height: 290px;
}

.section{
    position: relative;
    margin-top: 200px;
}
